fastapi
uvicorn[standard]
requests
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
opencv-python-headless==4.10.0.84
ultralytics==8.3.59
python-multipart
bcrypt
python-jose[cryptography]
jinja2
psutil
redis
psycopg[binary]==3.2.3
psycopg-pool==3.2.3
